* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sans";
}

body {
  background: #f4f5f9;
}

main {
  position: relative;
  padding: 0 80px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: hidden;

  @media (max-width: 768px) {
    padding: 0 20px;
  }
}

.main-title {
  position: absolute;
  font-size: 56px;
  font-weight: 600;
  color: #42567a;
  max-width: 353px;
  padding: 153px 0 0 78px;
  left: 0;

  @media (max-width: 768px) {
    font-size: 20px;
    padding: 59px 0 0 20px;
    max-width: 180px;
  }

  @media (max-width: 360px) {
    max-width: 123px;
  }
}
